:root {
    --go: skyblue;
}

@font-face {
    font-family: 'Bembo';
    src: url('res/Bembo.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body, #map {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}

.mapboxgl-ctrl.control-panel {
    /* max-width: calc(100% - 60px); */
    display: block;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.umd-title {
    font-family: 'Bembo';
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin:0;
    overflow:hidden;
}

[nodisplay] {
    display: none !important;
}

[unselectable] {
    user-select:none !important;
}

#map-overlay {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map {
    /* min-width: 500px; */
    /* width: 80%; */
    /* max-width: 100%; */
    /* height: 600px; */
    flex-grow: 2;
}

.control-item {
    display: flex;
    flex-direction: column;
}

.control-item:not(:last-child) {
    padding-bottom: 5px;
}

.go-button,
.mapboxgl-ctrl-group button.go-button {
    background: var(--go);
    border-radius: 5px !important;
    /* height: 1.5em; */
    padding: 0.3em 0.1em;
    vertical-align: middle;
    font-size: inherit;
    font-weight: bold;
    display: inline-block;
    height: 1.8em;
    width: auto;
    aspect-ratio:2;
}

.action-button {
    /* background: var(--go); */
    /* box-shadow: inset 0 0 0 2px #fff; */
    cursor: pointer;
    transition: box-shadow 300ms ease;
    user-select: none;
}

.action-button:hover {
    /* background: var(--go); */
    box-shadow: inset 0 0 0 1px #fff;
}

.p12-icon {
    font-size: 1.2em !important;
    vertical-align: text-bottom;
}

.map-waypoint {
    font-size: 30px;
}

.material-symbols-rounded.map-waypoint-list-icon {
    vertical-align: top;
    font-size: inherit;
}

.material-symbols-rounded.map-waypoint-list-icon-small {
    font-size: 0.75em;
    vertical-align: middle;
    padding-bottom: 0.12em;
}

.material-symbols-rounded.layer-dropdown-icon {
    font-size: 28px;
    top: -1px;
    position: relative;
    left: -2px;
    transition: transform 300ms ease;
}
.material-symbols-rounded.layer-dropdown-icon[expanded] {
    transform:rotate(-90deg);
}

.display-info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #222;
    background: #fff;
}

/* .display-info input[type="text"] {
    border: black 1px solid;
    border-radius: 5px;
} */

.display-info tr:not(:last-child)>td>.material-symbols-rounded:after {
    content: '';
    border: black 1px dashed;
    height: 6px;
    width: 0px;
    display: block;
    position: absolute;
    left: 19px;
    transform: translate(0, -2px);
}

.umd-logo {
    padding: 5px;
}

.header {
    text-align: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
}

/* .controls {
    min-width: 200px;
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    row-gap: 2px;
    display: flex;
    width: 30%;
} */
.controls-right[unhidden='true'] {
    transform:translate(0%, 0);
}
.controls-right {
    transform:translate(110%, 0);
}
.controls-left[unhidden='true'] {
    transform:translate(0%, 0);
}
.controls-left {
    transform:translate(-110%, 0);
}
.controls {
    min-width: 200px;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    row-gap: 2px;
    width: 30%;
    z-index: 3;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    transition: transform 300ms ease;
    display:flex;
}

.controls-unhide-btn {
    position: absolute;
    right: 0%;
    top: 50%;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

.controls>div {
    background: #cdcdcd;
    border-radius: 5px;
    padding: 5px;
}

.layer-dropdown {
    row-gap: 10px;
}

.layer-dropdown > .layer-text-item {
    background: #cdcdcd;
    border-radius: 5px;
}

.layer-dropdown-text {
    cursor: pointer;
}

.layer-item-list {
    row-gap: 2px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}

.layer-item-list[hidden] {
    height: 0;
    overflow-y: hidden;
    visibility: hidden;
}

.layer-text-item {
    vertical-align: middle;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.layer-swatch-icon {
    background-color: #414b58;
}

.branch-item::before {
    content: '';
    border: #cdcdcd 2px dashed;
    border-top: none;
    border-right: none;
    position: relative;
    display: block;
    top: 0;
    left: 2px;
    height: 10px;
    width: 5px;
    background: none;
}

.layer-swatch,
div.layer-swatch {
    padding: 0;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.layer-swatch > .material-symbols-rounded.visibility-icon {
    display: block;
    color: white;
    position: absolute;
    font-size: 14px;
    transform: translate(-6px, -4px);
    background: #343434;
    border-radius: 100%;
}
.layer-swatch > .material-symbols-rounded.visibility-icon:before {
    content: "visibility_off";
    z-index: 99;
}
.layer-swatch[checked] > .material-symbols-rounded.visibility-icon:before {
    content: "visibility";
    z-index: 99;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
    margin-bottom: 4px;
}

.display-info .tooltip {
    margin-left: 8px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Multi-section input thing */

.input-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 1em;
    line-height: 1em;
    color: black;
    font-size: 0.75em;
    column-gap: 2px;
}

.input-part > * {
    border: #00000044 1px solid;
    height: calc(100% + 2px);
    padding: 0 2px;
    border-radius: 5px;
}

.input-part > input { 
    font-size: 0.7em;
    vertical-align: bottom;
    border: #000000a0 1px solid;
    flex-grow: 1
}

/* .input-part > *:first-child {
    border-radius: 5px 0 0 5px;
}
.input-part > *:not(:first-child) {
    border-radius: 0;
    border-left:none;
}
.input-part > *:last-child {
    border-radius: 0 5px 5px 0;
} */

.input-part-icon {
    aspect-ratio: 1;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.input-part-icon[selected] {
    background-color: var(--go);
}

/* Loading spin thing */
.loading-spin {
    display: inline-block;
    position: relative;
    width: 29px;
    height: 15px;
    top: 2px;
}

.loading-spin div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 5px;
    background: #0275ff;
    animation: loading-spin 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-spin div:nth-child(1) {
    left: 5px;
    animation-delay: -0.24s;
}

.loading-spin div:nth-child(2) {
    left: 13px;
    animation-delay: -0.12s;
}

.loading-spin div:nth-child(3) {
    left: 21px;
    animation-delay: 0;
}

.mapboxgl-ctrl.popout-bottom {
    transition: height 100ms ease, padding 300ms ease, margin 300ms ease;
    display: block;
}

.mapboxgl-ctrl.popout-bottom[hidden] {
    overflow: hidden;
    height: 0px !important;
    margin: 0;
    padding: 0;
}

.mapboxgl-ctrl button .material-symbols-rounded {
    vertical-align: bottom;
}

.construction-button {
    background-color: orange;
    border: rgb(171, 111, 0) 2px solid;
}

#route-viewer {
    padding-left: 20px;
}

#route-viewer.mapboxgl-ctrl[hidden] {
    padding: 0;
}

#route-viewer.mapboxgl-ctrl[hidden] li,
#route-viewer.mapboxgl-ctrl[hidden] a {
    display:none;
}

.long-button {
    width: auto !important;
    text-align: left;
}

#route-viewer.mapboxgl-ctrl:not([hidden]) .route-icon {
    display: none;
    position:absolute;
}

@keyframes loading-spin {
    0% {
        top: -5%;
        height: 110%;
    }

    50%, 100% {
        top: 10%;
        height: 80%;
    }
}

@media screen and (max-width: 600px) {
    .mapboxgl-map {
        font-size: 18px;
    }

    .map-waypoint {
        font-size: 32px;
    }

    .display-info {
        font-size: 18px;
    }
}